body {
  background-image: url(../img/bg1.jpg);
  color: white;
  text-shadow: 2px 2px 4px black;
  font-family: sans-serif;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #a9aeb0;
  align-items: center;
  height: 30px;
  text-shadow: none;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: center;
}
hr {
  border: 1px solid whitesmoke;
  padding: 0px;
  margin: 0px;
}

.dropdown-content {
  display: none;
}

a {
  text-decoration: none;
}

li a {
  text-shadow: none;
  color: aqua;
  font-style: italic;
}
.lang {
  margin: 20px;
}

.db {
  margin: 20px;
}
.webtech {
  margin: 20px;
}
.vcs {
  margin: 20px;
}
.admin {
  margin: 20px;
}

.os {
  margin: 20px;
}

.statements {
  margin: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-item {
  margin: 10px;
}

.com {
  margin: 5px;
}

.oup {
  display: flex;
  justify-content: space-between;
}

.intro {
  transition: all 50ms linear;
}
.intro:hover {
  font-size: 110%;
  font-weight: bold;
}

.qual {
  transition: all 50ms linear;
}
.qual:hover {
  font-size: 110%;
  font-weight: bold;
}

.exp {
  transition: all 50ms linear;
}
.exp:hover {
  font-size: 110%;
  font-weight: bold;
}

/*.exp:hover .dropdown-content {
  display: grid;
  background-color: #a9aeb0;
} */

.contact {
  transition: all 50ms linear;
}
.contact:hover {
  font-size: 110%;
  font-weight: bold;
}

.summary {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
}

.tmhcc-summary {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
}

.aig-summary {
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
}

.next-page {
  animation-name: pagination;
  animation-duration: 1s;
  position: relative;
  animation-iteration-count: infinite;
}

@keyframes pagination {
  0% {
    /*background-color: red;*/
    left: 0px;
    top: 0px;
  }
  50% {
    /* background-color: yellow;*/
    left: 5px;
    top: 0px;
  }

  100% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
}
